* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', 'sans-serif';

  }
  
  section, article, aside, footer, header, nav {
    display: block;
  }

  body{
      min-height: 100vh;
      max-width: 1440px;
      display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 114px 110px;
    background-image: url('images/bg-intro-desktop.png');
    background-color: hsl(0, 100%, 74%) ;
    margin: 0 auto;
  }

  .textpart{
      flex-basis: 47%;
      padding: 60px 40px 60px 0px;
      /* margin-right: 0px; */
  }


  .bluebox{
      height: 56px;
      background-color: hsl(248, 32%, 49%);
display: flex;
align-items: center;
justify-content: center;
border-radius: 12px;
margin-bottom: 20px;
    }


.blueboxandformcontainer{
    flex: 1 1 47%;

max-width: 540px;
min-width: 300px;

}


form{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background: white;
    padding-top: 20px;
    border-radius: 16px;
    /* min-height: 474px; */
}



.form-row {
    display: flex;
    /* justify-content: flex-start; */
    flex-direction: column;
    /* flex-wrap: wrap; */
    margin: 10px 39px;
    
  }
  
  .form-row input {
      height: 58px;
    background-color: #FFFFFF;
    border: 1px solid #D6D9DC;
    border-radius: 3px;
    width: 100%;
    padding: 0 32px;
    font-size: 16px;
    border: solid 1.5px rgb(230, 229, 229);
    border-radius: 8px;
font-weight: 600;
color: rgb(118, 117, 117);

  }


.form-submit{
height: 54px;
background: hsl(154, 59%, 51%);
margin: 16px 39px;
border-radius: 8px;
color: white;
text-transform: uppercase;
font-size: 16px;
font-family: 'Poppins', 'sans-serif';
font-weight: 500;
letter-spacing: 2px;
outline: none;
}


h1, p {
    color: white;
    font-family: 'Poppins', 'sans-serif';

}

h1 {
    font-size: 3.1rem;
    line-height: 1.1;
    font-weight: 700;
margin-bottom: 22px;
}

h5{
    font-family: 'Poppins', 'sans-serif';
font-weight: 400;
color: hsl(246, 25%, 77%);
font-size: 12px;
text-align: center;
margin-bottom: 30px;
}

.spanred{
font-weight: 500;    color: hsl(0, 100%, 74%) 
;
}
p{
    color: rgb(242, 239, 239);
    line-height: 1.8;
}

.blueboxtext {
    font-weight: 400;
}

/* .form-row .errormessage-name{
    color: red;
    text-align: right;
    position: relative;
    padding-right: 5px;
    font-size: 12px;
    margin-top: 5px;
    font-weight: 400;

} */

.erroricon-styling{
    position: relative;
width: 25px;
align-self: flex-end;
bottom: 54px;
margin-right: 10px;
margin: -10px 10px -0px 0;
}

.erroricon-hide{
    display: none;
}





/* THis next set of instructions prevents Chrome for adding ablue backgroudn color to the inputs that have been filled out.  */
    input:-webkit-autofill,
    input:-webkit-autofill:hover, 
    input:-webkit-autofill:focus, 
    input:-webkit-autofill:active  {
        -webkit-box-shadow: 0 0 0 30px white inset !important;
    }
    


    /* ERROR MESSAGE STYLING AND HIDING */

.errormessage-styling{
    color: red;
    text-align: right;
    position: relative;
    padding-right: 5px;
    font-size: 12px;
    margin-top: 5px;
    font-weight: 400;
}

.successmessage-styling{
    color: green;
    text-align: right;
    position: relative;
    padding-right: 5px;
    font-size: 12px;
    margin-top: 5px;
    font-weight: 400;
}


.error-hide{
    display: none;
}






/* STYLING FOR RED AND GREEN BORDERS AROUND INPUT FIELDS */

.fieldBorderGreen input {
    border: solid 1pt hsl(154, 59%, 51%);
}

.fieldBorderRed input {
    border: solid 1pt red;
}






/* Desktop Style in Narrow Browser of Tablet */
@media only screen and (max-width: 1234px) {

body{
    min-height: 100vw;
    max-width: 1000px;
    padding: 114px 40px;

}

form{

}

.blueboxandformcontainer{
    flex: 0 0 100%;

max-width: 540px;
min-width: 300px;
}

.textpart{

    flex-basis: 100%;
    text-align: center;
    margin: 0 auto;
    padding: 60px 110px;

}

h1{
    font-size: 3.5rem;
}




}
















/* Desktop Styles wider than 1234 */
@media only screen and (min-width: 1235px) {



}









/* THOUGHTS ON RESPONSIVE...
At 1234 pixels, switch to one big column...
Then also have a smaller one...

